{% extends "layout.html" %}
{% block body %}


<!-- Show the Page the User Has Requested -->
<!-- Note: there are no longer any records in the pageresult cursor, as we have moved through them all and it has closed -->

<!--Put in a Markdown Editor to accept content-->
<!-- It has a Show/Hide Button, a Div with instructions, an Editor div that lets you write, and a Target div 
     that shows what you've written, all closed out by a div to clear the floats.
     The functionality of this Markdown editor comes from the ShowDown library
     at http://showdownjs.github.io/demo/ by John Fraser . Thanks! -->

<form id="editContentForm"
      action="{{url_for('content', page_id = page_id)}}"
      method="POST" >

<div id="BUTTONS" class=""  style='float:left; width:48%; height:3rem '>
<input type='button' id='showEditContent' value='Open Editor' style='width:9rem' >
<input type='submit' id='saveit' value='Save' style='display:none' >
<input type = "hidden" name="page_id" value="{{page_id}}" >
<input type = "hidden" name="content_id" value="{{content_id}}" > <!-- note: this is not yet working. currently only handling one content per page-->
</div>

<div id="INSTRUCTIONS"  class="" style='float:left; width:40% ; height:3rem; display:none; '>
 Edit the content in the textarea below using markdown styling, and see how it renders on the left.
</div>

<div id="targetDiv" class=""  style='float:left; width:80%;'>{{content_html}}</div>

<div id="editorDiv"  class="" style='float:right;width:52%; display:none; '>
<textarea id="sourceTA" name="content_md" rows="40" cols="40"   onInput="runConverter()">{{content_markdown}}</textarea>
<textarea id="targetTA" name="content_ht" rows="40" cols="40" style='display:none'>{{content_html}}</textarea>
</div>

</form>

<div style='float:none'> </div>



<!-- Add JQ functionality to show/hide buttons for the Single Page controls-->
<script>
jQuery(document).ready(function(){

jQuery('#showEditContent').on('click', function(event) {
             $('#editorDiv').toggle();
             $('#INSTRUCTIONS').toggle();
             if ( $(this).val() == 'Close Editor' ) {
                 $(this).val('Open Editor');
                 $('#targetDiv').width('80%');
                 $('#saveit').hide()
             } else {
                 $(this).val('Close Editor');
                 $('#targetDiv').width('48%');
                 $('#saveit').show()
            }
        });
    });


  jQuery('#JClick').on('click', function(event) {
             //Put the code to write to db here
                /*This may require a redirect - or, the SAVE button
                   should be the forms SUBMIT button... and have to 
                   make sure that the targetDiv has a textarea in it
                   too (not editable by the user) .  Hm.... */

             //This refreshes the page with the same inputs as original
             // Interesting that it has a slight fade, not a pop...
               location.reload()
    });



   //Run the load conditions
   //The runConverter function takes the input conent, translates it, and writes it to the target div
   window.onload = function(){
     runConverter();
   }


</script>


{% endblock %}
