{% extends "layout.html" %}


{% block body %}

<!-- Show the Page the User Has Requested -->
<!-- Note: there are no longer any records in the pageresult cursor, as we have moved through them all and it has closed -->

<!--Put in a Markdown Editor to accept content-->
<!-- It has a Show/Hide Button, a Div with instructions, an Editor div that lets you write, and a Target div 
     that shows what you've written, all closed out by a div to clear the floats.
     The functionality of this Markdown editor comes from the ShowDown library
     at http://showdownjs.github.io/demo/ by John Fraser . Thanks! -->

<form id="tester"
      action="/{{pageInfo['page_target'][0]}}?page_id={{pageInfo['page_id'][0]}}&dbname={{dbname}}"
      method="POST" >
<div id="BUTTONS" class=""  style='float:left; width:98%; height:3rem '>
 <input type='button' id='showEditContent' value='Open Editor' style='width:8rem' >
 <input type='submit' id='saveit' value='Submit'  style='display:none' >
 <input type = "hidden" name="page_id" value="{{pageInfo['page_id'][0]}}" >
 <input type = "hidden" name="page_target" value="{{pageInfo['page_target'][0]}}" >
 <input type = "hidden" name="database" value="{{dbname}}" >
 <input type = "hidden" name="content_id" value="{{pageContent['content_id'][0]}}" > 
</div>

<div id="targetDiv" class=""  style='float:left; width:100%;'>{{pageContent['content_ht'][0]}}</div>

<div id="INSTRUCTIONS"  class="" style='float:left; width:45% ; height:3rem; display:none; '>
 Edit the content in the textarea below using markdown styling, and see how it renders on the left.
<textarea id="sourceTA" name="content_md" rows="40" cols="40"   onInput="runConverter()">{{pageContent['content_md'][0]}}</textarea>
</div>

</form>


<div style='float:none'> </div>


<!-- Add JQ functionality to show/hide buttons for the Single Page controls-->
<script>
  //Set the toggling of the Editor functions
  jQuery(document).ready(function(){
   jQuery('#showEditContent').on('click', function(event) {
             $('#editorDiv').toggle();
             $('#INSTRUCTIONS').toggle();
             if ( $(this).val() == 'Close Editor' ) {
                 $(this).val('Open Editor');
                 $('#targetDiv').width('80%');
                 $('#saveit').hide()
             } else {
                 $(this).val('Close Editor');
                 $('#targetDiv').width('48%');
                 $('#saveit').show()
            }
   });
  });

  //Run the load conditions
  //The runConverter function is a local function in scripts.js. It takes the input content, translates it, and writes it to the target div
  //   window.onload = function(){
  //   runConverter();
  // }

</script>


{% endblock %}


