{% extends "layout.html" %}

{% block body %}

<!--Put in a Markdown Editor to accept content-->
<!-- It has a Show/Hide Button, a Div with instructions, an Editor div that lets you write, and a Target div 
     that shows what you've written, all closed out by a div to clear the floats.
     The functionality of this Markdown editor comes from the ShowDown library
     at http://showdownjs.github.io/demo/ by John Fraser. -->

<form id="tester"
      action="/{{pageInfo['page_template'][0]}}?page_id={{pageInfo['page_id'][0]}}&dbname={{dbname}}"
      method="POST" >

<div id="BUTTONS" class=""  style='float:left; width:48%; height:3rem '>
 <input type='button' id='showEditContent' value='Edit Content' style='width:8rem' >
 <input type='submit' id='saveit' value='Submit'  style='display:none' >


 <input type = "hidden" name="page_id" value="{{pageInfo['page_id'][0]}}" >
 <input type = "hidden" name="page_template" value="{{pageInfo['page_template'][0]}}" >
 <input type = "hidden" name="database" value="{{dbname}}" >
 <input type = "hidden" name="content_id" value="{{pageContent['content_id'][0]}}" > 
</div>

<div id="BUTTONSJS" class=""  style='float:right; width:10rem; height:3rem '>
 <input type="button" id="showJSEditContent" value="Add JavaScript" style="width:10rem; display:{{pageCode['jscode_edit'][0]}}" >
</div>
<div style='float:right; width:10rem; height:3rem '> &nbsp </div>

<!--This div appears empty, but it is populated from pageContent['content_md'] by the runConverter() script -->
<div id="targetDiv" class=""  style='float:left; width:100%;'>

</div>


<!--This div is where content is written. It is hidden by default, and shown when the Edit Content button is activated-->
<div id="INSTRUCTIONS"  class="" style='float:left;width:45%; height:3rem; display:none; margin-left:3rem;  '>
 Edit the content in the textarea below using markdown styling, and see how it renders on the left.
<textarea id="sourceTA" name="content_md" rows="100" cols="65"   onInput="runConverter()">{{pageContent['content_md'][0]}}</textarea>
</div>
</form>

<!--This div clears the floats-->
<div style='float:none'> </div>

<!-- This script is specific to the content form to toggle the show/hide buttons -->
<script>
  //Set the toggling of the Editor functions
  jQuery(document).ready(function(){
   jQuery('#showEditContent').on('click', function(event) {
             $('#editorDiv').toggle();
             $('#INSTRUCTIONS').toggle();
             if ( $(this).val() == 'Close Editor' ) {
                 $(this).val('Edit Content');
                 $('#BUTTONSJS').show();
                 $('#blockcodex').toggle();
                 $('#blockbody').width('70%');
                 $('#targetDiv').width('100%');
                 $('#saveit').hide()
             } else {
                 $(this).val('Close Editor');
                 $('#BUTTONSJS').hide();
                 $('#blockcodex').toggle();
                 $('#blockbody').width('70%');
                 $('#targetDiv').width('42%');
                 $('#saveit').show()
            }
   });
  });
</script>

{% endblock body %}

{% block codex %}

<!--Put in a Code Editor to accept content-->
<!-- It has a Show/Hide Button, a Div with instructions, an Editor div that lets you write, and a Target div 
     that shows what you've written, all closed out by a div to clear the floats.-->

<form id="codexForm"
      action="/{{pageInfo['page_template'][0]}}?page_id={{pageInfo['page_id'][0]}}&dbname={{dbname}}"
      method="POST" >



<!--This div appears empty, but it is populated from pageCode['jscode'] by .... script -->
<div id="targetJSDiv" class=""  style='float:left; width:100%;'>

</div>

<!--This div is where new script content is written. -->
<!-- If jscode_show == 0 then it is hidden (display:none) by default, and shown when the Edit JS button is activated-->
<!-- If jscode_show == 1 then it is not hidden (display:block).  -->
<!-- Note that display (none/block) is defined in Python function getPageCode in app_function.py -->

<div id="JS_INSTRUCTIONS"  class="" style="float:left; width:550px; display:{{pageCode['jscode_display'][0]}}" >

<div style='padding-top:5px; float:left; width:70%; font-family:Arial; font-size:1.2rem' >
 Edit code below. Save to render on the left.
</div

<div id="BUTTONS2" class=""  style='float:right; width:25%; '>

 <input type="submit" id="saveJS" value="Save"  style="margin-bottom:5px; width:5rem; display:{{pageCode['jscode_display'][0]}}" >
 <input type = "hidden" name="page_id" value="{{pageInfo['page_id'][0]}}" >
 <input type = "hidden" name="page_template" value="{{pageInfo['page_template'][0]}}" >
 <input type = "hidden" name="database" value="{{dbname}}" >
 <input type = "hidden" name="jscode_id" value="{{pageCode['jscode_id'][0]}}" > 
</div>


<textarea id="sourceJSTA" name="jscode" rows="50" cols="80" style="display:{{pageCode['jscode_display'][0]}}" >
{{pageCode['jscode'][0]}}   
</textarea>
</div>
</form>

<!--This div clears the floats-->
<div style='float:none'> </div>

<!-- This script is specific to the JS content form to toggle the show/hide buttons -->
<script>
  //Set the toggling of the Editor functions
  jQuery(document).ready(function(){
   jQuery('#showJSEditContent').on('click', function(event) {

             $('#JS_INSTRUCTIONS').toggle();
             $('#sourceJSTA').toggle();

             if ( $(this).val() == 'Close JS Editor' ) {
                 $(this).val('Add JavaScript');
                 $('#blockcodex').width('30%');
                 $('#targetJSDiv').width('100%');
                 $('#saveJS').hide()
                 $('#showEditContent').show();
                 $('#blockbody').width('70%');

             } else {
                 $(this).val('Close JS Editor');
                 $('#blockcodex').width('30%');
                 $('#targetJSDiv').width('50%');
                 $('#saveJS').show()
                 $('#showEditContent').hide();
                 $('#blockbody').width('30%');


            }
   });
  });
</script>

{% endblock codex %}


