{% extends "layout.html" %}
{% block body %}


<!-- Show Page Names as a Network Diagram -->
<div class="" style="float:left; width:45%">
       <!--This is the div where the network is attached-->
       <!--This empty div is populated with the function showNetworkD3 called in the layout template -->
       <!--A network is only shown if a network dict is supplied via the views.py definition -->

        <div id="show_network"  class="border" style="float:left">  </div>
</div>


<!-- local scripts for this app-->
  <script type="text/javascript" src="{{ url_for('static', filename='local_scripts.js') }}"></script>

  <script>
    //Show the Table network. This is a local function in local_scripts.js
      showNetworkD3({{network_dict|safe}}, ormtgt="#show_network", width=600, height=350, radius=10)
  </script>


{% endblock %}

