<!doctype html>
<head>
  <title>{{page_name}}</title>


 <!--D3-->
 <script src="https://d3js.org/d3.v4.min.js"></script>
 <!--jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>

<!-- Define the Page Header (and embedded subheader) -->
<div id="header">
  <h1><a href="{{url_for('index')}}"> {{page_title}} </a> </h1>
  <div id="subheader"> <a id="subref" > </a> </div>
</div>


<!-- This is where all the content from your python-enabled views goes -->

   {% block body %}{% endblock %}

<!-- local scripts for this app-->
  <!--script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script-->

 <!--Showdown: converts markdown to html https://github.com/showdownjs/showdown -->
 <script src="https://cdn.rawgit.com/showdownjs/showdown/1.5.5/dist/showdown.min.js"></script>
 
 
</body>
</html>
