<!doctype html>
<head>
  <title>{{project_name}} {{pageInfo['page_title'][0]}}</title>

 <!--CSS-->
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


 <!--D3--Use Version 3 instead of 4 -->
 <script src="https://d3js.org/d3.v3.min.js"></script>
 <!--jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <!--Showdown: converts markdown to html https://github.com/showdownjs/showdown -->
 <script src="https://cdn.rawgit.com/showdownjs/showdown/1.5.5/dist/showdown.min.js"></script>

</head>

<body>

<!--Define Common Elements that Appear on All Pages -->
<!-- project_name is passed as an argument from the view definition function ->
<!-- page title is 3rd element (0-based) of first row (fetchone) of SQL Alchemy ResultProxy object-->  
<!-- See the index.html template for more uses of the ResultProxy object  -->

<div id="header">
  <h1><a href="{{url_for('index')}}"> {{project_name}} </a> </h1>
     <div id="subheader">{{pageInfo['page_title'][0]}}</div>
</div>

<!--Add a place to put flashed messages. 
    These are messages you can create in the views.py script, and are handy for debugging-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- This is where all the content from your python-enabled views goes -->
<!-- Put the page content between the jinja2 block tags -->

<div  >
<!-- p>HEY!  This is supposed to be pink.</p -->

<!--Word Content on Left -->
<div class='' style='float:left; width:58%'>
   {% block body %}

   {% endblock %}
</div>

<!--Picture Content on Right --> 
<div class='' style='float:right; width:40%'>
   {% block viz %}


   {% endblock %}
</div>


</div>


  <!-- Load Local Javascript Scripts ---------                                                                                  
    Javascript is loaded at the end of the body because:                                                                        
    The browser executes the external script as soon as it loads it.                                                            
    Execution binds the events to the elements (classes) you have defined.                                                      
    If this happens before the browser processes your <body> tag, the elements                                                  
    are not yet part of the DOM so nothing is attached.                                                                         
  -->

<!-- local scripts for this app-->
  <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

 <!--Showdown: converts markdown to html https://github.com/showdownjs/showdown -->
 <script src="https://cdn.rawgit.com/showdownjs/showdown/1.5.5/dist/showdown.min.js"></script>

 
 
</body>
</html>
