<!doctype html>
<head>
  <title>{{project_name}} {{pageInfo['page_title'][0]}}</title>

 <!--CSS-->
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


 <!--D3--Use Version 3 instead of 4 -->
 <script src="https://d3js.org/d3.v3.min.js"></script>
 <!--jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <!--Showdown: converts markdown to html https://github.com/showdownjs/showdown -->
 <script src="https://cdn.rawgit.com/showdownjs/showdown/1.6.0/dist/showdown.min.js"></script>

</head>

<body>

<!--Define Common Elements that Appear on All Pages -->
<!-- project_name is passed as an argument from the view definition function ->
<!-- page title is 3rd element (0-based) of first row (fetchone) of SQL Alchemy ResultProxy object-->  
<!-- See the index.html template for more uses of the ResultProxy object  -->

<div id="header">
  <h1><a href="{{url_for('index')}}"> {{project_name}} </a> </h1>
     <div id="subheader" style='float:left; width:70%;'>
       {{pageInfo['page_title'][0]}}
    </div>

{% if pageInfo['page_id'][0] > 1000 %}
     <div style='float:right; width:20%;'>
       <form id="DelPage" action="{{url_for('del_page')}}" method=POST> 
	 <input type="submit" id="delPageButton" value="Delete Page" style="width:8rem" >
		<!--onClick="alert('Delete PageID ' + {{pageInfo['page_id'][0]}}  )   "-->
	 <input type = "hidden" name="page_id" value="{{pageInfo['page_id'][0]}}" >
	 <input type = "hidden" name="page_template" value="{{pageInfo['page_template'][0]}}" >
	 <input type = "hidden" name="database" value="{{dbname}}" >
       </form>
     </div>
{% endif %}

</div>

<!--Add a place to put flashed messages. 
    These are messages you can create in the views.py script, and are handy for debugging-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}





<!-- This is where all the content from your python-enabled views goes -->
<!-- Put the page content between the jinja2 block tags -->

<div >

<!--Table of Contents - Left Nav -->

<div class='border' style='float:left; width:20%; margin:10px'>
<ol>
  {% for i in tocInfo.index %}

    {% if tocInfo['page_level'][i] == 1 %}
       {% if tocInfo['page_id'][i] == 1 %}
         <li>
           <a href="/">{{tocInfo['page_name'][i]}}</a>
         </li>
       {% endif %}
       {% if tocInfo['page_id'][i] > 1 %}
         <li>
           <a href="/{{tocInfo['page_template'][i]}}?page_id={{tocInfo['page_id'][i]}}">{{tocInfo['page_name'][i]}}</a>
         </li>
       {% endif %}
    {% endif %}
    {% if tocInfo['page_level'][i] == 2 %}
     <ul><li>
      <a href="/{{tocInfo['page_template'][i]}}?page_id={{tocInfo['page_id'][i]}}">{{tocInfo['page_name'][i]}}</a>
     </li></ul>
    {% endif %}

  {% endfor %}
  </ol>
</div>


<!--Word Content on Left -->
<div class='' style='float:left; width:{{content_width}}%; margin-bottom:5rem; padding:0.5rem;'>
   {% block body %}

   {% endblock %}
</div>

<!-- Code Content in Middle -->
<div class='' style='float:left; width:{{code_width}}%; padding:0.5rem;'>
   {% block codex %}

   {% endblock %}
</div>




<!--Picture Content on Right --> 
<div class='' style='float:right; width:{{viz_width}}%; margin:0; padding:0'>
   {% block viz %}


   {% endblock %}
</div>


</div>





  <!-- Load Local Javascript Scripts ---------                                                                                  
    Javascript is loaded at the end of the body because:                                                                        
    The browser executes the external script as soon as it loads it.                                                            
    Execution binds the events to the elements (classes) you have defined.                                                      
    If this happens before the browser processes your <body> tag, the elements                                                  
    are not yet part of the DOM so nothing is attached.                                                                         
  -->

<!-- local scripts for this app-->
  <script type="text/javascript" src="{{ url_for('static', filename='local_scripts.js') }}"></script>

 <!--Showdown: converts markdown to html https://github.com/showdownjs/showdown -->
 <!-- loaded at top of page script src="https://cdn.rawgit.com/showdownjs/showdown/1.5.5/dist/showdown.min.js"></script-->

<!-- Run the Page Load Conditions -->
<script>
   window.onload = function(){
     //The runConverter function is a local function in scripts.js. 
     // It takes the input content, translates it, and writes it to the target div
       runConverter();


     //This is a testing fnction to write a circle on an svg canvas 
      //showSampleD3({{radius}});

    //Show the Table network. This is also a local function in scripts.js
     // showNetworkD3({{network_dict|safe}})
                    
   } //end of window onload functions
</script>
 
 
</body>
</html>
