{% extends "content.html" %}

{% block body %}
  <!-- Left Side: Use the Block Body contents from the parent (content) template, to show the words-->
  {{ super() }}
{% endblock %}

 <!-- Right Side: Define the Block Viz (graphic content) here -->
{% block viz %}

<div>
  <!--Show Form to Choose a Database--> 
    <form id="ChooseDatabase"  action="{{ url_for('seemedb', page_id=page_id) }}" method="GET">
      <input type = "hidden" name = "page_id" value = {{page_id}} >
      <select  name="database" width="300px" onchange="this.form.submit()">
             <option name="-1" SELECTED >Choose Database</option>
              {% for o in dbnames %}
	        {% if o[0] != 'postgres' %}  <!--Note: if use dbname as variable, is it redefined with each choice so changes dropdown-->
                   <option name="{{ o[0] }}" >{{ o[0] }}</option>
		{% endif %}
              {% endfor %}
      </select>
    </form>

    <!-- If A Database with at Least one Schema with Tables Has Been Chosen, then Show Info About it --> 
    {% if numschema > 0 %}      
       <h2 style="font-style:normal" > {{dbname}} </h2>
	<div id="show_network"  class="border"> 
          <p>Found {{numschema}} schemas, {{num_tables}} tables, and {{num_allFK}} relations</p>
	</div> 

	{% if num_allFK > 0 %}
	<!-- Show the Table -->
	      {{tableDF.to_html()|safe}}
	{% endif %}
	<!-- Show schemas as accordian. Schemas are in a pandas dataframe -->
	{% for index, row in allSchemas.iterrows() %}
         <button class="accordion">{{ row['schema'] }}</button>
	 <div class="panel">
	   {% for index, rowT in allTables.iterrows() %}
	     {% if rowT['schema'] == row['schema'] %}
	       {{ rowT['table'] }} <br>
	     {% endif %}
	   {% endfor %}
	 </div>
	{% endfor %}
   {% endif %}
</div>

<script>
//Set some variables
var width = 100,
    height = 100
    radius = 20;

//Define the canvas as an svg in the show_network div
var svg = d3.select("#show_network").append("svg")
    .attr("width", width)
    .attr("height", height);


//This is a circle
svg.append("circle")
    .style("stroke", "gray")
    .style("fill", "white")
    .attr("r", radius)
    .attr("cx", 50)
    .attr("cy", 50)
    .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");} )
    .on("mouseout",  function(){d3.select(this).style("fill", "pink")    ;} )

//Define the color scale to use  - depends on what version of D3 you are using
var color = d3.scale.category20();
/* <later version of D3>  var color = d3.scaleOrdinal(d3.schemeCategory10);*/

//Make a force diagram object
var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);


/**This is where we are trying to do something!
d3.json('/data/network.json', function(error, graph) {
  if (error) throw error;

  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 5)
      .style("fill", function(d) { return color(d.group); })
      .call(force.drag);

node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
});

**/

</script>



{% endblock %}
