{% extends "content.html" %}

{% block body %}
  <!-- Left Side: Use the Block Body contents from the parent (content) template, to show the words-->
  {{ super() }}
{% endblock %}

 <!-- Right Side: Define the Block Viz (graphic content) here -->
{% block viz %}

<div class="" style="float:left; width:25%; border-style:solid;border-width:0px; ">
  <!--Show Form to Choose a Database--> 
    <form id="ChooseDatabase"  action="{{ url_for('seemedb', page_id=page_id) }}" method="GET">
      <input type = "hidden" name = "page_id" value = {{page_id}} >
      <select  name="database" width="300px" onchange="this.form.submit()">
             <option name="-1" SELECTED >Choose Database</option>
              {% for o in dbnames %}
	        {% if o[0] != 'postgres' %}  <!--Note: if use dbname as variable, is it redefined with each choice so changes dropdown-->
                   <option name="{{ o[0] }}" >{{ o[0] }}</option>
		{% endif %}
              {% endfor %}
      </select>
    </form>

    <!-- If A Database with at Least one Schema with Tables Has Been Chosen, then Show Info About it --> 
    {% if numschema > 0 %}      
       <h2 style="font-style:normal" > {{dbname}} </h2>
          <p>{{numschema}} schemas, {{num_tables}} tables, and {{num_allFK}} relations</p>

	<!-- Show schemas as accordian. Schemas are in a pandas dataframe -->
	<div class="" style="width:10rem; float:left" >
	{% for index, row in allSchemas.iterrows() %}
         <button class="accordion">{{ row['schema'] }}</button>
	 <div class="panel">
	   {% for index, rowT in allTables.iterrows() %}
	     {% if rowT['schema'] == row['schema'] %}
	       {{ rowT['table'] }} <br>
	     {% endif %}
	   {% endfor %}
	 </div>
	{% endfor %}
	</div>

	<!-- Show Debugging Table -->
	{% if num_allFK > 0 %}
	      <!--  {{schema_id_list.to_html()|safe}} -->
	{% endif %}


   {% endif %}
</div>

<!--This is the div where the network is attached-->
<div id="show_network" class="" style="float:left; width:73%; height:500px; border-style:solid; border-width:0px">

</div>


{% endblock %}
